@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  padding: 20px;
  background-color: #5A5A5A;
  transition: 0.8s;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 15;
}

.cart.active {
  right: 0;
  transition: 0.5s;
}

.cart-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 32px;
}

.cart-box {
  display: grid;
  grid-template-columns: 37% 45% 18%;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.cart-img {
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 8px;
}

.cart-product-title {
  font-size: 16px;
  /* text-transform: uppercase; */
  color: black;
}

.cart-price {
  font-weight: 500;
  font-size: 20px;
}

.cart-quantity {
  border: 1px solid black;
  width: 38px;
  text-align: center;
  font-size: 16px;
}

.cart-remove {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  border-top: 1px solid Black;
}

.total-title {
  font-size: 22px;
  font-weight: 600;
}

.total-price {
  margin-left: 8px;
  font-size: 22px;
}

.btn-buy {
  display: flex;
  margin: 24px auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: #229ACD;
  color: white;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.btn-buy:hover {
  background-color: #5A5A5A;
}

#close-cart {
  position: absolute;
  top: 16px;
  right: 13px;
  cursor: pointer;
  font-size: 40px;
  color: Black;
}

@media screen and (max-width: 1000px) {
  .cart {
    width: 320px;
  }
}

@media screen and (max-width: 360px) {
  .cart {
    width: 280px;
  }
}

.contacto__background {
  background-color: White;
}

.contacto {
  display: flex;
  flex-direction: row;
}

.contacto__container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.contacto__container--titulo {
  padding: 0 30px;
  padding-top: 30px;
  text-align: center;
  padding-top: 100px;
}

.contacto__container--titulo h2 {
  color: black;
  font-size: 30px;
  font-weight: 400;
}

.contacto__container--form {
  padding: 25px 30px;
}

.contacto__container--form form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.contacto__container--form form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.contacto__container--form form .user-details .input-box p {
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.contacto__container--form form .user-details .input-box span {
  color: red;
  font-size: 16px;
  font-weight: 400;
}

.contacto__container--form form .user-details .input-box input {
  height: 45px;
  width: 100%;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: Black;
  font-size: 16px;
  font-weight: 400;
}

.contacto__container--form form .user-details .input-box input:focus {
  border-color: Black;
}

.contacto__container--form form .user-details .textarea-box {
  margin-bottom: 15px;
  width: 100%;
}

.contacto__container--form form .user-details .textarea-box p {
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.contacto__container--form form .user-details .textarea-box span {
  color: red;
  font-size: 16px;
  font-weight: 400;
}

.contacto__container--form form .user-details .textarea-box textarea {
  width: 100%;
  height: auto;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-top: 10px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.contacto__container--form form .user-details .textarea-box textarea:focus {
  border-color: black;
}

.contacto__atencion {
  background-color: #5A5A5A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto__atencion--item {
  display: flex;
  align-items: center;
  color: White;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

.contacto__atencion--item i {
  padding-right: 20px;
  font-size: 25px;
}

.contacto__container--map {
  width: 50%;
}

.tablaConsultas {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

tr td {
  border: 3px solid #333232;
  background-color: #ccc;
}

.tablaNombre, .tablaTelefono, .tablaEmail, .TablaDireccion {
  text-align: center;
  width: 15%;
}

.tablaMensaje {
  width: 40%;
}

.boton__enviar {
  font-size: 20px;
  font-weight: 400;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #229ACD;
  box-shadow: 0 5px #095779;
}

.boton__enviar:hover {
  box-shadow: 0 3px #0d6f99;
  top: 1px;
}

.boton__enviar:active {
  box-shadow: 0 0 #000000;
  top: 5px;
}

@media screen and (max-width: 1200px) {
  .contacto__container {
    max-width: 60%;
  }
  .contacto__container--map {
    width: 40%;
  }
}

@media screen and (max-width: 720px) {
  .contacto__container {
    max-width: 100%;
  }
  .contacto__container--form form .user-details .input-box {
    width: 100%;
    margin-bottom: 15px;
  }
  .contacto__container--map {
    display: none;
  }
}

.container__footer {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #229acd;
  padding: 40px 0 10px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #0a2a6b;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff33;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: white;
}

.footer__copyright {
  text-align: end;
  margin-right: 20px;
}

.footer__copyright a {
  color: white;
  font-size: 16px;
}

.footer__copyright a:hover {
  color: #24262b;
  transition: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  /*elimina el scroll del eje x*/
}

.bg {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  width: 100%;
  top: 0;
}

header.scroll_bajar {
  background-color: white;
}

header.scroll_bajar .navbar .parte_superior .informacion_empresa a {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: red;
  margin-right: 5px;
}

header.scroll_bajar .navbar .parte_superior .informacion_empresa a:hover {
  background-color: red;
}

header.scroll_bajar .navbar .parte_superior .contenedor_titulo h1 {
  color: red;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

header.scroll_bajar .navbar .parte_superior .contenedor_productos_carrito a {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: red;
  margin-right: 5px;
}

header.scroll_bajar .navbar .parte_superior .contenedor_productos_carrito a:hover {
  background-color: red;
}

header.scroll_bajar .navbar .parte_superior .contenedor_productos_carrito #cart-icon {
  color: red;
}

.navbar {
  width: 100%;
}

.navbar .parte_superior {
  width: 100%;
  height: auto;
  display: flex;
  min-width: 320px;
  position: relative;
}

.navbar .parte_superior .informacion_empresa {
  width: 500px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
}

.navbar .parte_superior .informacion_empresa a {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: white;
  margin-right: 5px;
}

.navbar .parte_superior .informacion_empresa a:hover {
  background-color: red;
}

.navbar .parte_superior .contenedor_titulo {
  width: 500px;
  height: 45px;
}

.navbar .parte_superior .contenedor_titulo h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.navbar .parte_superior .contenedor_productos_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .parte_superior .contenedor_productos_carrito a {
  margin-right: 50px;
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.navbar .parte_superior .contenedor_productos_carrito a:hover {
  transform: scale(1.1, 1.1);
  color: #5a5a5a;
  transition: 0.3s;
}

.navbar .parte_superior .contenedor_productos_carrito #burger-icon, .navbar .parte_superior .contenedor_productos_carrito #cross-icon {
  display: none;
}

#contador {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.logo {
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.logo:hover {
  color: #5a5a5a;
  transition: 0.3s;
}

#cart-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

#cart-icon:hover {
  transform: scale(1.2, 1.2);
  color: #5a5a5a;
  transition: 0.3s;
}

/* MENU HAMBURGUESA */
.container .burger-btn {
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.container .cross-btn {
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.burger-menu {
  margin-top: 70px;
  text-align: center;
  font-size: 2em;
  line-height: 56px;
  background-color: white;
  padding: 10px 0;
  top: -100%;
  z-index: 8;
  position: fixed;
  width: 100%;
  transition: 0.7s ease-out;
}

.burger-menu p {
  font-size: 25px;
}

.burger-menu a {
  text-decoration: none;
  color: Black;
}

.burger-menu a:hover {
  font-size: 35px;
  color: #5a5a5a;
}

@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    padding: 11px;
  }
  .headerSections a {
    display: none;
  }
  .container .burger-btn {
    display: block;
  }
  .burger-menu.active {
    top: 0;
    transition: 0.4s ease-out;
  }
  .container .burger-btn.hide {
    display: none;
  }
  #cross-icon.active {
    display: block;
  }
  .logo {
    font-size: 27px;
  }
}

@media screen and (max-width: 720px) {
  .nav {
    width: 100%;
  }
}

/* boton checar(se usa en el contenedor novideades u contenedor-principal-imagen) */
.btn_checar, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a {
  height: 40px;
  display: inline-block;
  text-decoration: none;
  background: #3f2c89;
  padding: 9px 40px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-shadow: 0 8px 0;
  transition: all 0.2s;
  animation: btn_checar infinite;
  animation-duration: 14s;
  /* animacion del boton checar */
}

@keyframes btn_checar {
  from {
    background-color: #3f2c89;
    box-shadow: 0 8px 0 #3f2c89;
  }
  to {
    background-color: #3a5eb2;
    box-shadow: 0 8px 0 #3a5eb2;
  }
}

.btn_checar:hover, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a:hover {
  color: white;
}

.btn_checar:active, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #3f2c89;
}

.box_shadow-generico, .productContainer, .contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_primera_pregunta, .contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_segundaPregunta-Edad_Sexo, .contenedor_principal .contenedor_novedades .card_novedades, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a {
  background: white;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(10, 99, 169, 0.16);
}

.productCatalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  width: 295px;
  height: 400px;
  background-color: #ecf7ff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.productContainer:hover button {
  opacity: 1;
}

.productContainer__item {
  position: relative;
}

.productContainer__item .contenedor_producto-imagen {
  width: 280px;
  height: 310px;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 13px;
  margin-left: 9px;
}

.productContainer__item .contenedor_producto-imagen img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.productContainer__item .contenedor_producto-imagen img.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.productContainer__item .contenedor_producto-imagen img.back:hover {
  opacity: 1;
}

.productContainer__item--info {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productContainer__item--info h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.productContainer__item button {
  position: absolute;
  bottom: 17px;
  right: 10px;
  padding: 6px;
  background-color: burlywood;
  text-align: center;
  color: White;
  border: none;
  border-radius: 20px;
  width: 60px;
  transition: 0.5s;
  opacity: 0;
  height: 35px;
}

.productContainer__item button:hover {
  background-color: #1a4e64;
}

.product__tittle {
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
}

.product__price {
  color: #229ACD;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
}

.hideProducto {
  display: none;
}

.showProducto {
  display: flex;
}

@media screen and (max-width: 1280px) {
  .productContainer button {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .productContainer {
    max-width: 170px;
    margin: 5px;
  }
}

/* boton checar(se usa en el contenedor novideades u contenedor-principal-imagen) */
.btn_checar, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a {
  height: 40px;
  display: inline-block;
  text-decoration: none;
  background: #3f2c89;
  padding: 9px 40px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-shadow: 0 8px 0;
  transition: all 0.2s;
  animation: btn_checar infinite;
  animation-duration: 14s;
  /* animacion del boton checar */
}

@keyframes btn_checar {
  from {
    background-color: #3f2c89;
    box-shadow: 0 8px 0 #3f2c89;
  }
  to {
    background-color: #3a5eb2;
    box-shadow: 0 8px 0 #3a5eb2;
  }
}

.btn_checar:hover, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a:hover {
  color: white;
}

.btn_checar:active, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #3f2c89;
}

.box_shadow-generico, .productContainer, .contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_primera_pregunta, .contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_segundaPregunta-Edad_Sexo, .contenedor_principal .contenedor_novedades .card_novedades, .contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a {
  background: white;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(10, 99, 169, 0.16);
}

.contenedor_principal {
  display: grid;
  gap: 10px;
  margin-top: -88px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "contenedor_inicio    contenedor_inicio" "productos_informacion productos_informacion" "contenedor_inicio-servicios contenedor_inicio-servicios" "contenedor_novedades contenedor_novedades";
  /* contenedor principal novedades */
}

.contenedor_principal .contenedor_inicio {
  width: 100%;
  overflow-x: hidden;
  grid-area: contenedor_inicio;
  /* width: 90%; */
  display: flex;
  height: 800px;
  background-image: url("../imagenes/copia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton {
  margin-top: 250px;
  margin-left: 30px;
  width: 550px;
  height: auto;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-texto {
  height: auto;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-texto h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-boton {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-boton a {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 10px  35px;
  border-radius: 30px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-boton a:hover {
  background-color: red;
  border: 2px solid red;
  padding: 10px 35px;
  border-radius: 30px;
  color: white;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-botonRecompensa {
  width: 230px;
  margin: 0 auto;
  margin-top: 20px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-botonRecompensa a {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 10px  35px;
  border-radius: 30px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-texto-boton .contenedor_inicio-botonRecompensa a:hover {
  background-color: blue;
  border: 2px solid red;
  padding: 10px 35px;
  border-radius: 30px;
  color: white;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta {
  background-color: rebeccapurple;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: 420px;
  width: 470px;
  margin-top: 250px;
  margin-left: 60px;
  display: none;
  padding: 10px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_primera_pregunta {
  display: none;
  height: 300px;
  width: 450px;
  background-color: #ecf7ff;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: none;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_primera_pregunta h3 {
  font-weight: 200;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_segundaPregunta-Edad_Sexo {
  height: 300px;
  width: 450px;
  background-color: #ecf7ff;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: none;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_segundaPregunta-Edad_Sexo h3 {
  font-size: 20px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_tercerPregunta-preferencias {
  display: none;
  height: 300px;
  width: 450px;
  background-color: #ecf7ff;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_tercerPregunta-preferencias label {
  margin-left: 10px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .encuesta_tercerPregunta-preferencias button {
  margin-left: 10px;
}

.contenedor_principal .contenedor_inicio .contenedor_inicio-encuesta .noHacerEncuesta {
  display: none;
}

.contenedor_principal .contenedor_servicios {
  overflow-x: hidden;
  grid-area: contenedor_inicio-servicios;
  height: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.contenedor_principal .contenedor_servicios .card_inicio_servicios {
  border: 2px solid black;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 3px;
  height: 150px;
  width: 450px;
}

.contenedor_principal .contenedor_servicios .card_inicio_servicios .card_inicio_servicios-imagen-titulo {
  display: flex;
  flex-wrap: wrap;
}

.contenedor_principal .contenedor_servicios .card_inicio_servicios .card_inicio_servicios-imagen-titulo h1 {
  font-weight: bold;
}

.contenedor_principal .contenedor_servicios .card_inicio_servicios .card_inicio_servicios-imagen-titulo .card_servicios-imagen {
  width: 100px;
}

.contenedor_principal .contenedor_servicios .card_inicio_servicios .card_inicio_servicios-imagen-titulo .card_servicios-imagen img {
  width: 100%;
  object-fit: cover;
}

.contenedor_principal .contenedor_servicios .card_inicio_servicios .card_inicio_servicios-imagen-titulo .card_servicios-titulo-texto {
  width: calc(100% - 100px);
}

.contenedor_principal .contenedor_novedades {
  grid-area: contenedor_novedades;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* card del contenedor novedades */
}

.contenedor_principal .contenedor_novedades .filtro-marca {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.contenedor_principal .contenedor_novedades .filtro-marca button {
  width: 100px;
  font-size: 20px;
  height: auto;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #3f2c89;
  border-radius: 20px;
}

.contenedor_principal .contenedor_novedades .filtro-marca button:hover {
  background-color: #0c3141;
}

.contenedor_principal .contenedor_novedades .card_novedades {
  display: flex;
  flex-wrap: wrap;
  width: 295px;
  height: 400px;
  background-color: #ecf7ff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades_imagen {
  width: 280px;
  height: 310px;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 13px;
  margin-left: 9px;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades_imagen img {
  width: 276px;
  height: 310px;
  transition: all 2s ease-in-out;
  object-fit: cover;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades_imagen img:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton {
  display: flex;
  width: 280px;
  height: auto;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_texto {
  width: 170px;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_texto h2 {
  padding-left: 10px;
  font-size: 16px;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a {
  animation: none;
  color: #3a5eb2;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  height: 35px;
}

.contenedor_principal .contenedor_novedades .card_novedades .card_novedades-texto-boton .card_novedades_boton a:hover {
  color: white;
  background-color: #3a5eb2;
}

.contenedor_principal_modal {
  display: flex;
  position: absolute;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.contenedor_principal_modal .contenedor_modal {
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  width: 450px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "contenedor_modal_titulo-boton contenedor_modal_titulo-boton" "contenedor_modal-imagen contenedor_modal-imagen" "contenedor_modal-texto contenedor_modal-boton";
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton {
  grid-area: contenedor_modal_titulo-boton;
  display: inline-flex;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton .contenedor_modal-titulo {
  width: auto;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton .contenedor_modal-titulo h1 {
  width: 280px;
  font-size: 20px;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton .contenedor_modal-boton_close {
  width: 120px;
  padding-bottom: 20px;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton .contenedor_modal-boton_close a {
  background-color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  color: red;
  font-size: 14px;
  padding: 5px 15px;
  cursor: pointer;
  margin-left: 52px;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton .contenedor_modal-boton_close a:hover {
  background-color: red;
  color: white;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-titulo-boton .contenedor_modal-boton_close a:active {
  transform: translateY(10px);
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-imagen {
  grid-area: contenedor_modal-imagen;
  background-color: white;
  height: 400px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-texto {
  grid-area: contenedor_modal-texto;
  height: auto;
  width: 290px;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-boton {
  grid-area: contenedor_modal-boton;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
}

.contenedor_principal_modal .contenedor_modal .contenedor_modal-boton a {
  background-color: blue;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.arrow {
  display: flex;
  justify-content: center;
}

.backgroundColorButton {
  background-color: #0c3141 !important;
}

.hideProducto {
  display: none;
}

.showProducto {
  display: flex;
}

@media screen and (max-width: 1280px) {
  .productContainer button {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .productContainer {
    max-width: 170px;
    margin: 5px;
  }
}
