// Mixin general de los tamaños en la version Movil y Desktop
@mixin sizes($width, $height) {
    width: $width;
    height: $height;

}


/* boton checar(se usa en el contenedor novideades u contenedor-principal-imagen) */
.btn_checar {
    height: 40px;
    display: inline-block;
    text-decoration: none;
    background: #3f2c89;
    padding: 9px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    box-shadow: 0 8px 0;
    transition: all 0.2s;
    animation: btn_checar infinite;
    animation-duration: 14s;
    /* animacion del boton checar */
    
    @keyframes btn_checar {
        from {
            background-color: #3f2c89;
            box-shadow: 0 8px 0 #3f2c89;
        }
  
        to {
            background-color: rgba(58,94,178,1);
            box-shadow: 0 8px 0 rgba(58,94,178,1);
        }
    }
  
  }
  
  .btn_checar:hover {
    color: white;
  }
  
  .btn_checar:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 #3f2c89;
  }
  
  .box_shadow-generico {
    background: white;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
        -10px -10px 10px -1px rgba(10, 99, 169, 0.16);
  }



.productCatalog {
    display: flex;
    flex-wrap: wrap;
    // background-color: rgba(236, 247, 255, 1);
    // background-color: blueviolet;
    justify-content: center;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    @include sizes(295px, 400px);
    background-color: rgba(236, 247, 255, 1);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    @extend .box_shadow-generico;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.70);

    // background-color: blueviolet;
    // max-width: 200px;
    // height: auto;
    // margin: 20px;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // border: 2px solid #ebebeb;
    // box-shadow: 1px 1px 2px 0 #d7d7d7;
    // background-color: #3f2c89;
    &:hover {
        button {
            opacity: 1;
        }
    }
    &__item {
        position: relative;
        .contenedor_producto-imagen {
            width: 280px;
            height: 310px;
            border-radius: 3px;
            overflow: hidden;
            padding-top: 13px;
            margin-left: 9px;
            img {
                width: 100%;
                height: 100%;  
                transition: 0.5s;      
                &.back {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                    &:hover {
                        opacity: 1;
                    }
                }      
            }
        }
        &--info {
            margin: 0 20px 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3 {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 400;
                
            }
        }
        button {
            position: absolute;
            bottom: 17px;
            right: 10px;
            padding: 6px;
            background-color: burlywood;
            text-align: center;
            color: White;
            border: none;
            border-radius: 20px;
            width: 60px;
            transition: 0.5s;
            opacity: 0;
            height: 35px;
            &:hover {
                background-color: #1a4e64;
            }
        }
    }
}

.product__tittle {
    color: Black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
}

.product__price {
    color: #229ACD;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
}

.hideProducto {
    display: none;
}

.showProducto {
    display: flex;
}

@media screen and (max-width:1280px) {
    .productContainer button{
        opacity: 1;
    }
}

@media screen and (max-width:720px) {
    .productContainer {
        max-width: 170px;
        margin: 5px;
    }
}